
@{
    Layout = null;
}

<!DOCTYPE html>

<h2>AboutUs</h2>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <!------ Include the above in your HEAD tag ---------->
    <link href="~/PatientLanding.css" rel="stylesheet" />
     <link href="~/AboutUs.css" rel="stylesheet" />
    
</head>
<body>
    
    <div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">About Us</h2>
                        <p class="aboutus-text">Medi-lot is a medical delivery system that is desiged to assist those who are unable to collect their own medication and contraceptives easier and cheaper. </p>
                        <p class="aboutus-text">We aim to change the lives of South Africans all over the country with our unique system that ensures that everyone diagnosed with Aids gets their ARV medication. </p>
                        <a class="aboutus-more" href="#">read more</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="https://t3.ftcdn.net/jpg/01/13/95/00/500_F_113950056_FAMxaRmT81fwdH4j4wMEzEODkqp5v5T1.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>In the business of saving lives. </h4>
                                    <p>We are not just a pharmacuetical company but we are in the busiess of saving lives bringing equality to our mother-land.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Reliable services</h4>
                                    <p>We ensure that medication gets to you on-time, wherever you are in the country.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Great support</h4>
                                    <p>We have various intiatives running in various provinces such as Pad drives, Sex-talks with Youth, Gender equlity, Aids education etc. We aim to unite homes and spark life and love in our homes.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>